USE [master]
GO
/****** Object:  Database [ListaCompra]    Script Date: 11/23/2022 5:54:22 PM ******/
CREATE DATABASE [ListaCompra]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ListaCompra', FILENAME = N'/var/opt/mssql/data/ListaCompra.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ListaCompra_log', FILENAME = N'/var/opt/mssql/data/ListaCompra_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ListaCompra].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ListaCompra]
GO
/****** Object:  Table [dbo].[Categoria]    Script Date: 11/23/2022 5:54:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categoria](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NULL,
 CONSTRAINT [Categoria_pk] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetalleLista]    Script Date: 11/23/2022 5:54:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleLista](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdListaCompra] [int] NOT NULL,
	[IdProducto] [int] NOT NULL,
	[Precio] [float] NOT NULL,
	[Cantidad] [float] NOT NULL,
 CONSTRAINT [DetalleLista_pk] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ListaCompra]    Script Date: 11/23/2022 5:54:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ListaCompra](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdSupermercado] [int] NOT NULL,
	[FechaCompra] [datetime] NULL,
 CONSTRAINT [Listacompra_pk] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Producto]    Script Date: 11/23/2022 5:54:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Producto](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Precio] [float] NOT NULL,
	[Foto] [image] NULL,
	[IdCategoria] [int] NOT NULL,
	[IdSupermercado] [int] NOT NULL,
 CONSTRAINT [Producto_pk] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Supermercado]    Script Date: 11/23/2022 5:54:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Supermercado](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NULL,
 CONSTRAINT [Supermercado_pk] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DetalleLista]  WITH CHECK ADD  CONSTRAINT [DetalleLista_ListaCompra_null_fk] FOREIGN KEY([IdListaCompra])
REFERENCES [dbo].[ListaCompra] ([Id])
GO
ALTER TABLE [dbo].[DetalleLista] CHECK CONSTRAINT [DetalleLista_ListaCompra_null_fk]
GO
ALTER TABLE [dbo].[DetalleLista]  WITH CHECK ADD  CONSTRAINT [DetalleLista_Producto_null_fk] FOREIGN KEY([IdProducto])
REFERENCES [dbo].[Producto] ([Id])
GO
ALTER TABLE [dbo].[DetalleLista] CHECK CONSTRAINT [DetalleLista_Producto_null_fk]
GO
ALTER TABLE [dbo].[ListaCompra]  WITH CHECK ADD  CONSTRAINT [Listacompra_Supermercado_null_fk] FOREIGN KEY([IdSupermercado])
REFERENCES [dbo].[Supermercado] ([Id])
GO
ALTER TABLE [dbo].[ListaCompra] CHECK CONSTRAINT [Listacompra_Supermercado_null_fk]
GO
ALTER TABLE [dbo].[Producto]  WITH CHECK ADD  CONSTRAINT [Producto_Categoria_null_fk] FOREIGN KEY([IdCategoria])
REFERENCES [dbo].[Categoria] ([Id])
GO
ALTER TABLE [dbo].[Producto] CHECK CONSTRAINT [Producto_Categoria_null_fk]
GO
ALTER TABLE [dbo].[Producto]  WITH CHECK ADD  CONSTRAINT [Producto_Supermercado_null_fk] FOREIGN KEY([IdSupermercado])
REFERENCES [dbo].[Supermercado] ([Id])
GO
ALTER TABLE [dbo].[Producto] CHECK CONSTRAINT [Producto_Supermercado_null_fk]
GO
USE [master]
GO
